#parse( "header.vm" )

<h2>Articles by date</h2>

#foreach( $archive in $archiveStats )
	<ul class="archive-links">
		#if( $archive.count > 0 )
		<li>
			<strong>$archive.year - $archive.month</strong> ($archive.count articles)
			<ul>
			#foreach( $article in $archive.articles )
				<li class="icon_page"><a href="$urlFactory.createPostUrl( $article )">$!article.title</a></li>
			#end
			</ul>
		</li>
		#end
	</ul>
#end

#parse( "footer.vm" )
