#parse("header.vm")

<h2>$article.title</h2>
<time datetime="$post.publicationDate">$article.publicationDate</time>

<div>
$article.content.value
</div>

#if( $keywords )
<p class="icon_tag">
	<ul class="tag_cloud">
		#foreach( $keyword in $keywords )
			<li class="icon_tag"><a title="$keyword" href="$urlFactory.createSearchUrl( $keyword )">$keyword</a></li> 
		#end
	</ul>
</p>
#end

#parse("footer.vm")
