#parse("header.vm")

<script src="https://www.google.com/recaptcha/api.js"></script>

<h2>Contact information</h2>

<form id="contactForm" class="contact-form" action="/contact" method="post">

<p>
<label for="fromName">Your name</label>
<input type="text" name="fromName" id="fromName" required="required" />
</p>

<p>
<label for="fromEmail">Your email</label>
<input type="email" name="fromEmail" id="fromEmail" required="required" />
</p>

<p>
<label for="subject">Subject</label>
<input type="text" name="subject" id="subject" required="required" />
</p>

<p>
<label for="message">Message</label>
<textarea name="message" id="message" required="required"></textarea>
</p>

<p>
<button class="g-recaptcha"
        data-sitekey="$siteKey"
        data-callback='onSubmit'
        data-action='submit'>Submit</button>
</p>

</form>

<script>
function onSubmit(token) {
    document.getElementById("contactForm").submit();
}
</script>

#parse("footer.vm")
