hotspot.log
*.iml
*.ipr
*.iws
target/
classes/
pom.xml.versionsBackup
test-output/
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
datanucleus.log
nbactions.xml
jerba-config.xml
src/main/webapp/components
node_modules
