
<form action="/search" method="get">
	<label for="searchQuery">Search</label>
	<input type="search" name="query" id="searchQuery" value="" required="required" />
	<button type="submit">Search</button>
</form>
