<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin panel</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint><!-- <user-data-constraint> <transport-guarantee>CONFIDENTIAL</transport-guarantee> 
			</user-data-constraint> -->
	</security-constraint>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArticleServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.ArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArchiveServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.ArchiveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.ContactServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SitemapXmlServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.SitemapXmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SitemapHtmlServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.SitemapHtmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchIndexUpdateServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.SearchIndexUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TemplateServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.TemplateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RobotsTxtServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.RobotsTxtServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XmlFeedServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.XmlFeedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.ErrorServlet</servlet-class>
	</servlet>
	<!-- Administration controllers -->
	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.ConfigServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddArticleServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.AddArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateArticleServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.UpdateArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteArticleServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.DeleteArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTemplateServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.DeleteTemplateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddResourceServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.AddResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteResourceServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.DeleteResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTemplateServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.AddTemplateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateTemplateServlet</servlet-name>
		<servlet-class>com.santiagolizardo.jerba.controllers.admin.UpdateTemplateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<url-pattern>/Article</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/Config</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddArticleServlet</servlet-name>
		<url-pattern>/AddArticle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateArticleServlet</servlet-name>
		<url-pattern>/UpdateArticle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteArticleServlet</servlet-name>
		<url-pattern>/DeleteArticle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTemplateServlet</servlet-name>
		<url-pattern>/DeleteTemplate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteResourceServlet</servlet-name>
		<url-pattern>/DeleteResource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTemplateServlet</servlet-name>
		<url-pattern>/AddTemplate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTemplateServlet</servlet-name>
		<url-pattern>/UpdateTemplate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<url-pattern>/page/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<url-pattern>/article/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/r/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SitemapXmlServlet</servlet-name>
		<url-pattern>/sitemap.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RobotsTxtServlet</servlet-name>
		<url-pattern>/robots.txt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmlFeedServlet</servlet-name>
		<url-pattern>/articles.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name>
		<url-pattern>/error-page</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddResourceServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArchiveServlet</servlet-name>
		<url-pattern>/archive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TemplateServlet</servlet-name>
		<url-pattern>/template</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SitemapHtmlServlet</servlet-name>
		<url-pattern>/sitemap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchIndexUpdateServlet</servlet-name>
		<url-pattern>/search/index-update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/error-page?code=403</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error-page?code=404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error-page?code=500</location>
	</error-page>
</web-app>
